<h1>Speak to your coach</h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="write your question">
  <button type="submit" class="btn btn-primary">Go on!</button>
</form>
